/* Light Theme */
body.light-theme {
  background-color: #F9F6EE;
  color: #000000;
}

/* Dark Theme */
body.dark-theme {
  background-color: #003262;
  color: #ffffff;
}


.navbar-scroll {
  transition: transform 0.3s ease-in-out;
}

#column {
    margin-top: 40px;
    margin-bottom: 40px;
}

#home {
  margin-left: 100px;
  margin-right: 100px;
}

h2{
  text-align: center;
  margin: 20px;
}

#rank {
  font-size: 150%;
}

#carousel_slide {
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel-caption a {
  color: white;
  transition: color 0.3s ease;
}
  
.carousel-caption a:hover {
  color: blue;
}

th {
  vertical-align: middle;
  font-size: 120%;
}